.video-thumbnail-card {
	width: 100%;
	height: 200px;
	display: flex;
	color: var(--font-color);
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
	position: relative;
}

.delete-icon {
	position: absolute;
	right: 1rem;
	top: 0.5rem;
}
