.video-div {
	height: 450px;
}

.h-30 {
	height: 1.8rem;
}

.w-20 {
	width: 1.5rem;
}

.icon-div {
	position: relative;
}

.notification-div {
	background-color: var(--complementary-color);
	border-radius: 50%;
	color: var(--background-color);
	position: absolute;
	top: -3px;
	left: 14px;
	width: 15px;
	height: 15px;
	border: 2px solid var(--background-color);
	line-height: 12.5px;
	text-align: center;
	font-size: 8px;
}
