@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	background-color: var(--background-color);
	min-height: 100vh;
	color: var(--font-color);
}

.main-container {
	margin-top: 5rem;
	background-color: var(--background-color);
}
